logs
__pycache__
wd14_tagger_model
venv
*.egg-info
build
.vscode
wandb
finetune/SmilingWolfwd-swinv2-tagger-v3/model.msgpack
finetune/SmilingWolfwd-swinv2-tagger-v3/model.onnx
finetune/SmilingWolfwd-swinv2-tagger-v3/model.safetensors
openai
checkpoint/stable-diffusion-v1-5.safetensors
lyqface_r